body {
    background-color: #1d1f2a;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}
.Header {
    background-color:#1d1f2a ;
    height: 75px;
    position: fixed;
    right: 50px;
    left: 50px;
    z-index: 6;
}
@font-face {
    font-family: "beau1";
    src: url("./font/Semplicita Light.otf");
}
.icon {
    background-image: url("./pic/111.png") ;
    background-size: 30px;
    background-repeat: no-repeat;
    display:inline-block;
    width: 30px;
    height: 30px;
}
.iconi{
    float: left;
    font-size: 10px;
}
.iconi a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.iconi p{
    color: #ad956b;
    line-height: 1px;
}


.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.menu2{
    float: left;
    font-size: 17px;
}

.menu2 a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}

.menu2:hover {
    background-color: #111;
    border-radius: 10px;
}
.NAME{
    padding-top:15px ;
    float: right;
    padding-right: 20px;
    font-family: beau1;
}
#name{
    display: inline-block;
    color: #dc7474;
    font-size: 33px;
    font-weight: bold;
}

#banner{
    display: inline-block;
    color: white;
    font-size: 14px;
}
.li2{
    top: 75px;
    position: fixed;
    background-color: #ad332d;
    height: 45px;
    width: 100%;
    left: 0;
    padding-left: 60px;
    font-size: 15px;
    font-family: beau1;
    z-index: 10;
}

.menu3{
    float: left;
    display: inline-block;
}

.menu3 a{
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.menu3:hover {
    color:black;
}

.content {
    display: none;
    position: absolute;
    background-color: #191b24;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(45, 45, 45, 0.14);

}

.content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: beau1;
}

.content a:hover {
    color: #dc7474;
}

.menu3:hover .content {
    display: block;
}
.sort{
    top: 220px;
    position: absolute;
    height: 20px;
    width: 153px;
    font-size: 15px;
    right: 80px;
    padding-top: 2px;
    color: rgb(173, 149, 107);
    z-index:5;
    text-align: right;
}
.srt{
    display: inline-block;
}
.srt p{
    display: block;
    color: rgb(170, 155, 132);
    text-align: center;
    text-decoration: none;
}
.menu3:hover {
   background-color:black;
}

.srtin {
    padding: 5px 5px;
    display: none;
    background-color: #191b24;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(45, 45, 45, 0.22);
    transition: 0.3s;

}

.srtin p {
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 9px;


}

.srtin p:hover {
    color: #dc7474;
}

.srt:hover .srtin {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cat{
    position: relative;
    top: 170px;
    color: white;
    float: right;
    right: 820px;
}
.cat a {
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.opsh{
    position: absolute;
    right: 80px;
    top: 250px;
    width:1070px ;
    height: 1600px;
    border-top: 2px solid #ad956b;
    z-index: 0;
    border-radius: 3px;
    overflow-y: scroll;
}
.pic1{
    position: relative;
    margin-top: 40px;
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.overlay{
    width: 300px;
    height: 35px;
    top: 320px;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    color: white;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}
.pic1:hover .overlay{
    opacity: 1;
}
.pag {
    position: absolute;
    display: inline-block;
    top: 1900px;
    float: right;
    right: 540px;
}

.pag a {
    color: #ad956b;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}


.pag a:hover{
    background-color: #111;
    border-radius: 5px;
}

.tozih{
    position: absolute;
    top: 2000px;
    display: inline-block;
    color: white;
    float: right;
    right: 83px;
    width: 1050px;
    font-family: W_zar;
}

.mybar a {
    position: fixed;
    transition: 0.3s;
    padding: 15px;
    width: 220px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;

}
.boxi a{
    display: inline-block;
    background-color: #555;
    color: white;
}
.boxi a:hover{
    background-color: #111;
}

#box1 {
    width: 220px;
    top: 135px;
    height: 60px;
    background-image: url("./pic/122.jpg");
    background-size: 347px 130px;
    background-repeat: no-repeat;
    color: #dc7474;
    padding-top: 30px;
    font-family: beau1;
    text-align: center;
    z-index: 9;
    transition:2s;

}
#box2 {
    width: 220px;
    top: 135px;
    height: 60px;
    background-image: url("./pic/12.jpg");
    background-size: 300px 150px;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-top: 30px;
    font-family: beau1;
    text-align: center;
    z-index: 8;
}


#box1:hover{
    z-index: 7;
}

#size {
    top: 270px;
}

#color {
    top: 330px;
}

#material {
    top: 390px;
}
#price {
    top: 470px;
}
#sale {
    top: 530px;
}
#brand {
    top: 590px;
}
.up{
    background-color: #ad332d;
    border-radius: 20px;
    height: 52px;
    width: 40px;
    position: fixed;
    right: 15px;
    text-align: center;
    z-index: 20;
    line-height: 49px;
    color: white;
    bottom: 70px;

}
.fter {
    height: 55px;
    overflow: hidden;
    background-color: #121212;
    position: absolute;
    bottom: 0;
    top: 3000px;
    left: 0;
    right: 0;

}
.End{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-content: flex-end;
}


.End a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
}

.End a:hover {
    color: #dc7474;
    text-decoration: underline;
}
.pice{
    top: 6px;
    position: absolute;
    right: 20px;
}
.Endlog{
    right: 100px;
    position: absolute;
    top: 21px;
}
.Endlog a{
    padding: 15px 5px 3px 5px;

}
.Endlog a:hover{
    background-color: #060000;
    border-radius: 6px;
}
